@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Press+Start+2P&display=swap');

                

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --Avenir: 'Avenir';
  --Montserrat:'Montserrat';
  --primary-blue: #00BADE;
    --gradient-blue:linear-gradient(180deg, #FFF 50%, #116879 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Avenir', var(--Montserrat);                                          
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--montserrat);
  overflow-x: hidden;
  box-sizing: border-box;



}

body{
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
 

.opened{
  right: -1%;
  transition: right 1s ease-in;
  animation: bounce .8s ease-in;

}
.closed{
  display: hidden;
  right: -90%;
  transition: right .5s;
  transition-timing-function: ease-in-out;
  animation: bounce .8s ease-in delay iteration-count reverse fill-mode;

}

@keyframes bounce {
  0%{right: -100%;}
  40%{right: -1%;}
	60% {right:-5%;}
	70% {right:-1%;}

}


.animatedGradient{
  background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
