.navbar{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    padding: 25px 5%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.sideBar{
    display: none;
    color: white;
}


.logoContainer{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 80px;
    
}

.navLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
}

.options{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu{
    display: none;
}


@media screen and (max-width:480px) {
    .links , .otherLinks,  .options{
        display: none;
    }

    .sideBar{
        position: fixed;
        z-index: 10;
        top: 0%;
        right: 0%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-items: center;
        padding: 4rem 1rem;
        background-color: rgba(70, 131, 180, 0.993);
        height: 100%;
    }
    

    

    .sideBar .links, .sideBar .navLinks, .sideBar .otherLinks  {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 90%;
    }

    .sideBar .otherLinks{
        margin-top: 50%;
        gap: 1rem;
        justify-content: space-between;
    }
    
    .sideBar .options{
        justify-self: baseline;
        gap: 1rem;
        display: flex;
        margin-top: 100%;
        
    }

    .closeNav{
        padding-right: 1rem;
    }

    .logoDiv{
        order: -1; 
        
    }


    .menu{
        display: block;
    }
    
}