.card{
    width: 100%;
    height: auto;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.card:hover{
    background: blue;
}